@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gugi";
  src: url("/Gugi.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat.ttf");
}

body {
  font-family: "Montserrat";
  @apply bg-primary text-white;
}

.samhita-font {
  font-family: "Gugi";
}

.page-view {
  @apply flex flex-col justify-center h-96 px-10 mt-10;
  min-height: 60vh;
}

h1 {
  font-family: "Montserrat" !important;
}

a {
  @apply hover:underline;
}

.about-samhita-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2em 0em;
  grid-auto-flow: row;
  justify-content: center;
  align-content: stretch;
  justify-items: center;
  grid-template-areas:
    "technical-area"
    "non-technical-area"
    "workshops-area"
    "signature-area";
}

.technical-area {
  grid-area: technical-area;
}

.non-technical-area {
  grid-area: non-technical-area;
}

.workshops-area {
  grid-area: workshops-area;
}

.signature-area {
  grid-area: signature-area;
}

@media (min-width: 768px) {
  .hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0em 10em;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". logo-area"
      ". countdown-area"
      ". .";
  }

  .logo-text-area {
    grid-area: logo-area;
  }

  .countdown-area {
    grid-area: countdown-area;
  }

  .about-samhita-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em 2em;
    grid-auto-flow: row;
    justify-content: center;
    align-content: stretch;
    justify-items: center;
    grid-template-areas:
      "technical-area technical-area non-technical-area non-technical-area"
      ". workshops-area workshops-area ."
      "signature-area signature-area signature-area signature-area";
  }

  .technical-area {
    grid-area: technical-area;
  }

  .non-technical-area {
    grid-area: non-technical-area;
  }

  .workshops-area {
    grid-area: workshops-area;
  }

  .signature-area {
    grid-area: signature-area;
  }
}
