@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gugi";
  src: url("/Gugi.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat.ttf");
}

body {
  font-family: "Montserrat";
  @apply bg-primary text-white;
}

.samhita-font {
  font-family: "Gugi";
}

.page-view {
  @apply flex flex-col px-10 mt-32;
  min-height: 60vh;
}

h1 {
  font-family: "Montserrat" !important;
  @apply mb-3;
}

a {
  @apply cursor-pointer;
}

.markdown-text > h1 {
  @apply text-4xl font-bold;
}

.markdown-text > h2 {
  @apply text-3xl font-bold;
}

.markdown-text > h3 {
  @apply text-2xl font-bold;
}

.markdown-text > h4 {
  @apply text-xl font-bold;
}

.markdown-text > h5 {
  @apply text-lg font-bold;
}

.markdown-text > h6 {
  @apply text-base font-bold;
}

.markdown-text > p {
  @apply text-base;
}

.markdown-text > ul {
  @apply list-disc;
}

.markdown-text > ol {
  @apply list-decimal;
}

.markdown-text > b {
  @apply font-bold;
}

.markdown-text > i {
  @apply italic;
}

.about-samhita-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2em 0em;
  grid-auto-flow: row;
  justify-content: center;
  align-content: stretch;
  justify-items: center;
  grid-template-areas:
    "technical-area"
    "non-technical-area"
    "workshops-area"
    "signature-area";
}

.technical-area {
  grid-area: technical-area;
}

.non-technical-area {
  grid-area: non-technical-area;
}

.workshops-area {
  grid-area: workshops-area;
}

.signature-area {
  grid-area: signature-area;
}

.pricing-card {
  background-image: linear-gradient(
    109.6deg,
    rgba(102, 51, 153, 1) 11.2%,
    rgba(2, 0, 4, 1) 91.1%
  );
}

.purchased-ticket-card {
  background-image: linear-gradient(
    86.3deg,
    rgba(0, 119, 182, 1) 3.6%,
    rgba(8, 24, 68, 1) 87.6%
  );
}

.checkout-alert {
  background-image: linear-gradient(
    288deg,
    rgba(0, 85, 255, 1) 1.5%,
    rgba(4, 56, 115, 1) 91.6%
  );
}

.active-btn {
  background-image: radial-gradient(
    circle 325px at 19.2% 64.8%,
    rgba(254, 62, 101, 1) 9.7%,
    rgba(166, 24, 146, 1) 91.3%
  );
}

.accommodation-card {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}

@media (min-width: 768px) {
  .hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0em 10em;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". logo-area"
      ". countdown-area"
      ". .";
  }

  .logo-text-area {
    grid-area: logo-area;
  }

  .countdown-area {
    grid-area: countdown-area;
  }

  .about-samhita-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em 2em;
    grid-auto-flow: row;
    justify-content: center;
    align-content: stretch;
    justify-items: center;
    grid-template-areas:
      "technical-area technical-area non-technical-area non-technical-area"
      ". workshops-area workshops-area ."
      "signature-area signature-area signature-area signature-area";
  }

  .technical-area {
    grid-area: technical-area;
  }

  .non-technical-area {
    grid-area: non-technical-area;
  }

  .workshops-area {
    grid-area: workshops-area;
  }

  .signature-area {
    grid-area: signature-area;
  }
}
